dash_html_components==0.10.1
ccxt==1.13.139
pandas_datareader==0.5.0
numpy==1.14.5
tulipy==0.2
pandas==0.18.1
deap==1.2.2
scipy==0.19.0
pytoml==0.1.16
Js2Py==0.59
Flask_Caching==1.4.0
Quandl==3.4.0
dash==0.21.1
Flask==1.0.2
requests==2.19.1
bayesian_optimization==0.6.0
zipline==1.2.0
arch==4.3.1
dash_core_components==0.22.1
names==0.3.0
matplotlib==2.2.2
python_dateutil==2.7.3
pytz==2018.5
scikit_learn==0.19.2
dash_renderer
