deap==1.0.2.post2
requests==2.14.2
numpy==1.12.1
js2py==0.50
bayesian-optimization==0.4.0
matplotlib==1.5.3
plotly==2.0.15
flask_caching==1.3.3
dash==0.18.3
dash-core-components==0.12.5
dash-html-components==0.7.0
dash-renderer==0.9.0
-e git://github.com/jackwluo/py-quantmod.git#egg=quantmod

