pytoml==0.1.16
dash_core_components==0.22.1
numpy==1.14.5
Flask_Caching==1.4.0
ccxt==1.13.139
Flask==1.0.2
Js2Py==0.59
bayesian_optimization==0.6.0
pandas==0.22.0
deap==1.2.2
requests==2.19.1
dash==0.21.1
names==0.3.0
dash_html_components==0.10.1
python_dateutil==2.7.3
pytz==2018.4
